.Map {
  // border: dashed 1px green;
  margin: 3px 0px 3px 202px;
}

.Filter {
  // border: dashed 1px green;
  position: absolute;
  top: 46px;
  background-color: DarkSlateBlue;
  padding: 1em;
  color: white;
}

.Filter div {
  margin: 0.6em 0 1em 0;
}

.Filter select {
  // margin: .2em 0;
  width: 100%;
}

.Filter a,
.Filter submit,
.Filter select,
.Filter input {
  color: black;
}

.Filter .relp-block {
  margin: 0.1em 0 0em 0;
  color: white;
}

.Filter input {
  margin: 0;
}

.Filter button {
  margin: 2em 0;
}

.FishingPointsFilter {
  // border: dashed green 1px;
  margin: 0px 0 0px 202px;
  height: 60px;
  padding: 12px 15px;
  background-color: darkgreen;
  color: white;
  // text-align: center;
}
.FishingPointsFilter button {
  width: 6em;
}

.FromSelector .calendar-container {
  left: 0;
}
.TillSelector .calendar-container {
  left: 700px;
}
