.calendar-container {
  width: 360px;
  position: absolute;
  bottom: 0;
  z-index:999;
  background: #fff;
  border: 2px solid #eee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/*  SECTIONS  */
.section_mp {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col_mp {
  display: block;
  float:left;
  text-align: center;
}
.col_mp:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group_mp:before, .group:after {
  content:"";
  display:table;
}
.group_mp:after {
  clear:both;
}
.group_mp {
  zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_1_of_3_mp { width: 33.33%; }

.col_mp{
  font-size: 16px;
  padding-bottom: 5px;
  padding-top:5px;
}

.col_mp:hover{
  color:white;
  background-color: darkslateblue;
  cursor: pointer;
}
.selected_date_mp{
  font-size:12px;
  color:darkslateblue;
  font-weight: bold;
}
.selected_cell{
  background-color: darkslateblue;
  font-style: italic;
  color: #fff;
}
.arrows_mp{
  font-weight: bold;
  font-size: 18px;
}
