.CheckBar .form-check-label {
  display: inline;
  margin: 0 0 0 20px;
  font-weight: bold;
}

.CollapseBar .Icon {
  float: right;
  margin: -4px 0 0 0;
}

.ComboBar .form-check-label {
  display: inline;
  margin: 0 0 0 20px;
  font-weight: bold;
}
.ComboBar .Icon {
  float: right;
  margin: 3px 0 0 0;
}
