.Expectedfishingpoints {
  // border: dashed red 2px;
  background: #ffcc00;
  padding: 10px;
  margin: 0 0 3px 0;
  font-size: 14px;
}

.Expectedfishingpoints .card {
  margin: 10px 0 5px 0;
  border: none;
}
.Expectedfishingpoints .card div {
  // border: dashed red 2px;
  border: none;
  background: #ffcc00;
  padding: 0;
  margin: 0;
}

.FishingPointsFilter {
  border: dashed green 1px;
  // margin: 0px 0 0px 202px;
  // height: 60px;
  padding: 12px 15px;
  background-color: darkgreen;
  color: white;
  // text-align: center;
}
.FishingPointsFilter button {
  width: 6em;
}

.FishingPointsFilter .FromSelector .calendar-container {
  left: 0;
}
.FishingPointsFilter .TillSelector .calendar-container {
  left: 700px;
}
