.DateFilter {
  // border: dashed 2px orange;
  padding: 4px 15px;
  height: 38px;
  margin: 3px 253px 0px 302px;
  background: #330066;
  color: #fff;
  text-align: center;
}

.DateFilter button {
  // width: 6em;
}

.DateFilter .FromSelector .calendar-container {
  top: 0;
  left: 0;
  margin: 45px 0 0 304px;
}
.DateFilter .TillSelector .calendar-container {
  top: 0;
  right: 0;
  margin: 45px 255px 0 0;
}
