.HeaderLinks {
  // border: dashed 2px orange;
  background-color: #D2F2C2;
  padding: 0.4em 0;
}


.HeaderLinks a:hover,
.HeaderLinks a:visited,
.HeaderLinks a {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.HeaderLinks .One {
  text-align: center;
}

.HeaderLinks .Container {
  // border: dashed 2px orange;
  max-width: 991px;
  margin: 0 auto;
}
