.Query {
  // border: dashed 1px green;
  // position: absolute;
  // top: 43px;
  // right: 0;
  background-color: darkslateblue;
  padding: 15px;
  margin: 0 0 3px 0;
  color: white;
}
.Query div {
  margin: 0.6em 0 1em 0;
}
.Query select {
  // margin: .2em 0;
  width: 100%;
}
.Query a,
.Query submit,
.Query select,
.Query input {
  color: black;
}
.Query .relp-block {
  margin: 0.1em 0 0em 0;
  color: white;
}
.Query input {
  margin: 0;
}
.Query button {
  margin: 2em 0;
}
